name: Go

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  test:
    name: Vet and Test
    runs-on: ubuntu-20.04

    steps:

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ^1.16
      id: go

    - name: Get dependencies
      run: |
        go mod download

    - name: Vet
      run: |
        go vet ./...

    - name: Test Race Conditions
      run: go test -cover -race -v ./...

  build:
    name: Build
    needs: test
    runs-on: ubuntu-20.04

    strategy:
      matrix:
        os: [darwin, linux]
        arch: [amd64]
        include:
        - os: linux
          arch: arm64

    env:
      GOOS: ${{ matrix.os }}
      GOARCH: ${{ matrix.arch }}

    steps:

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ^1.16
      id: go

    - name: Get dependencies
      run: |
        go mod download

    - name: Build
      run: |
        go build  -v .
